<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>방명록</title>
</head>
<style>

    * {
        padding: 0px;
        margin: 0px;
    }
    html, body {
        height: 100%;
        margin: 0;
    }

    textarea {
        resize: none;
    }

    p {
        margin: 0;
    }

    .form {
        height: 40%;
    }

    .form form {
        height: 100%;
    }

    .form textarea {
        width: 100%;
        height: 70%;
    }

    .board {
        border: 1px solid black;
        margin: 1px;
        width: 100%;
        height: 20%;
    }
</style>
<body>
    <div class="form">
        <form action="/save" method="post">
            <div>
                <input type="text" name="nickname" placeholder="닉네임을 입력하세요" required>
                <input type="password" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>
            <textarea name="content" placeholder="내용을 입력하세요" required></textarea>

            <button>등록</button>
        </form>
    </div>

    <div th:each="board : ${boards}" class="board">
        <form action="/modify" method="post">
            <input type="hidden" th:value="${board.bno}" readonly><br>
            <input type="text" th:value="|작성자 : ${board.nickname}|" readonly><br>
            <textarea readonly>[[${board.content}]]</textarea><br>

            <button type="button" class="update">수정</button>
            <button type="button" class="delete">삭제</button>
        </form>
    </div>

    <script>

    </script>
</body>
</html>